input {
  margin-left: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid lightgray;
  padding: 5px;
  border-radius: 4px;
  width: 150px;
}

.highlight {
  background-color: yellowgreen;
}

.rendering-data{
  opacity: 0.5;
  background-color: gray;
}